section {
  position: relative;
}

.main {
  position: relative;
  display: block;
  // max-width: 100%;
  width: 100%;
  // height: fit-content;
  height: calc(30vw - 2rem);
  object-fit: contain;
  z-index: 3;
}

.bg {
  position: absolute;
  z-index: 1;
  display: block;
  // max-width: 100%;
  width: 100%;
  margin: -1rem;
  // height: fit-content;
  height: 30vw;
  object-fit: fill;
  filter: blur(25px);
}
