<section class="center" id="about">
  <img
    src="./assets/Graphics/computer_animation.gif"
    alt="computer_animation"
    id="computer-animation"
  />
  <span class="text fadein" id="about-content">
    <h2>About me</h2>
    <p>
      I am <b>Johan Venter</b>, an aspiring developer in his final year studying
      <b>Computer Science and Mathematics</b> at the North West University. Next
      year I am doing my Honours degree in
      <b>Computer Science and Information Systems</b>. Some of my hobbies and
      interests include playing <b>squash</b> for the university as well as
      coaching juniors. Training in Music and Exploring Photography has trained
      me for <b>visual design</b> and <b>user experience</b>. My primary
      interest is <b>Full Stack Web Development</b>. Parallel to my studies I
      have learned and become proficient in technologies such as Angular, Git,
      Windows and Linux terminal, Nodejs, MongoDB and Oracle SQL Developer to
      name a few. I am an avid programmer, a quick learner, great at problem
      solving and have good technical skills.
    </p>
    <div class="row">
      <a class="btn-liquid center" (click)="contact()">
        <span class="inner center"> contact me </span>
      </a>
      <button><a href="./assets/CV.docx">my cv</a></button>
    </div>
  </span>
</section>
