<section class="center" id="about">
  <img
    src="./assets/Graphics/computer_animation.gif"
    alt="computer_animation"
    id="computer-animation"
  />
  <span class="text">
    <h2>About me</h2>
    <p>
      I am an aspiring developer with primary interest in Full Stack Web
      Development. I study BSc. Computer Science and Mathematics at the North
      West University. I have self taught knowledge in web technologies such as
      Angular using Typescript and CSS. I am a avid programmer, a quick learner,
      have good technical skills and commited to problem solving.
    </p>
    <div class="row">
      <a class="btn-liquid center" (click)="contact()">
        <span class="inner center"> contact me </span>
      </a>
      <button>my cv</button>
    </div>
  </span>
</section>
