<section class="center" id="about">
  <img
    src="./assets/images/computer_animation.gif"
    alt="computer_animation"
    id="computer-animation"
  />
  <span class="text fadein" id="about-content">
    <h2>
      <span class="tag-open">
        <i class="fa-solid fa-chevron-left"></i>h1<i
          class="fa fa-chevron-right"
        ></i>
      </span>
      About me👨&zwj;💻
      <span class="tag-close">
        <i class="fa-solid fa-chevron-left"></i>/h1<i
          class="fa fa-chevron-right"
        ></i>
      </span>
    </h2>

    <div class="tag-open">
      <i class="fa-solid fa-chevron-left"></i>info<i
        class="fa fa-chevron-right"
      ></i>
    </div>

    <p>
      I am <b>Johan Venter</b>, an aspiring developer with a bachelor's in
      <b>Computer Science and Mathematics</b> and currently doing an honour's
      degree in Computer Science and Information Systems at the North West
      University. Some of my hobbies and interests include playing
      <b>squash</b> for the university as well as coaching juniors. I tutor for
      Maths and Science and Highschool Ferdinand Postma. Training in Music and
      Exploring Photography has given me an eye for <b>visual design</b> and
      <b>user experience</b>. My primary interest is
      <b>Full Stack Web Development</b>. Parallel to my studies I have learned
      and become proficient in technologies such as Angular, Git, Windows and
      Linux terminal, Nodejs, MongoDB and Oracle SQL Developer to name a few. I
      am an avid programmer, a quick learner, great at problem solving and have
      good technical skills.
    </p>
    <div class="tag-close">
      <i class="fa-solid fa-chevron-left"></i>/info<i
        class="fa fa-chevron-right"
      ></i>
    </div>
    <div class="row">
      <a class="btn-liquid center" (click)="contact()">
        <span class="inner center"> contact me </span>
      </a>
      <button>
        <a
          href="https://docs.google.com/document/d/10VW0vK2XUaqtabzpmFwGVRlcDDHXWMAd/edit?usp=sharing&ouid=103536070252261943960&rtpof=true&sd=true"
          target="_blank"
          >my cv</a
        >
      </button>
    </div>
  </span>
</section>
