section {
  width: calc(100vw - 2rem);
  height: calc(100vh - 2rem);
  margin: 1rem;
}

.project-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-transition: -webkit-box-flex 0.5s ease;
  transition: -webkit-box-flex 0.5s ease;
  transition: flex 0.5s ease;
  transition: flex 0.5s ease, -webkit-box-flex 0.5s ease, -ms-flex 0.5s ease;
  margin: 0.5rem;
  position: relative;
  -webkit-box-shadow: rgba(0, 0, 0, 0.582) 5px 5px 15px 4px;
          box-shadow: rgba(0, 0, 0, 0.582) 5px 5px 15px 4px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.project-container:hover {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
}

.project-container:hover .info-container .fa-info {
  -webkit-clip-path: circle(141% at 100% 100%);
          clip-path: circle(141% at 100% 100%);
  -webkit-transition: opacity 0.2s 0.5s, -webkit-clip-path 0.2s 0.5s;
  transition: opacity 0.2s 0.5s, -webkit-clip-path 0.2s 0.5s;
  transition: clip-path 0.2s 0.5s, opacity 0.2s 0.5s;
  transition: clip-path 0.2s 0.5s, opacity 0.2s 0.5s, -webkit-clip-path 0.2s 0.5s;
  -webkit-animation: attention 2s 1s infinite forwards;
          animation: attention 2s 1s infinite forwards;
}

@-webkit-keyframes attention {
  40% {
    padding: 1rem 0.5rem 0.5rem 1rem;
  }
  50% {
    padding: 1.5rem 1rem 1rem 1.5rem;
  }
  60% {
    padding: 1rem 0.5rem 0.5rem 1rem;
  }
}

@keyframes attention {
  40% {
    padding: 1rem 0.5rem 0.5rem 1rem;
  }
  50% {
    padding: 1.5rem 1rem 1rem 1.5rem;
  }
  60% {
    padding: 1rem 0.5rem 0.5rem 1rem;
  }
}

.project-container:hover .info-container:hover {
  -webkit-clip-path: circle(150% at 100% 100%);
          clip-path: circle(150% at 100% 100%);
}

.project-container:hover .info-container:hover .fa-info {
  -webkit-transition: opacity 0.2s, -webkit-clip-path 0.2s 0.5s;
  transition: opacity 0.2s, -webkit-clip-path 0.2s 0.5s;
  transition: clip-path 0.2s 0.5s, opacity 0.2s;
  transition: clip-path 0.2s 0.5s, opacity 0.2s, -webkit-clip-path 0.2s 0.5s;
  opacity: 0;
}

.project-container:hover .info-container:hover .text-container {
  opacity: 1;
  -webkit-clip-path: circle(150% at 100% 100%);
          clip-path: circle(150% at 100% 100%);
  -webkit-transition: opacity 0.2s, -webkit-clip-path 0.5s;
  transition: opacity 0.2s, -webkit-clip-path 0.5s;
  transition: clip-path 0.5s, opacity 0.2s;
  transition: clip-path 0.5s, opacity 0.2s, -webkit-clip-path 0.5s;
}

.project-container:hover .clip-img {
  -webkit-clip-path: circle(150% at 100% 100%);
          clip-path: circle(150% at 100% 100%);
}

.project-container .clip-img {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-clip-path: circle(0% at 100% 100%);
          clip-path: circle(0% at 100% 100%);
  -webkit-transition: -webkit-clip-path 0.7s;
  transition: -webkit-clip-path 0.7s;
  transition: clip-path 0.7s;
  transition: clip-path 0.7s, -webkit-clip-path 0.7s;
}

.project-container .bg-img {
  -webkit-filter: grayscale(1) brightness(0.6);
          filter: grayscale(1) brightness(0.6);
}

h1 {
  margin-left: 2rem;
  font-size: 4rem;
  color: whitesmoke;
  margin-top: 10rem;
  padding-top: 3rem;
}

img {
  display: block;
  width: 100%;
  height: 30rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.info-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20rem;
  -webkit-clip-path: circle(5rem at 100% 100%);
          clip-path: circle(5rem at 100% 100%);
  -webkit-transition: -webkit-clip-path 0.5s;
  transition: -webkit-clip-path 0.5s;
  transition: clip-path 0.5s;
  transition: clip-path 0.5s, -webkit-clip-path 0.5s;
}

.fa-info {
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
  -webkit-clip-path: circle(0% at 100% 100%);
          clip-path: circle(0% at 100% 100%);
  color: black;
  font-size: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
  padding: 1rem 0.5rem 0.5rem 1rem;
  margin: 0;
  background-color: rgba(245, 245, 245, 0.726);
  -webkit-box-shadow: 2px 0px 10px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 0px 10px 5px rgba(0, 0, 0, 0.3);
  border-top-left-radius: 100%;
}

.text-container {
  height: 16rem;
  position: absolute;
  z-index: 0;
  bottom: 0;
  overflow: hidden;
  width: calc(100% - 4rem);
  background: rgba(0, 0, 0, 0.8);
  -webkit-clip-path: circle(5rem at 100% 100%);
          clip-path: circle(5rem at 100% 100%);
  opacity: 0;
  -webkit-transition: opacity 0.25s 0.25s, -webkit-clip-path 0.5s;
  transition: opacity 0.25s 0.25s, -webkit-clip-path 0.5s;
  transition: clip-path 0.5s, opacity 0.25s 0.25s;
  transition: clip-path 0.5s, opacity 0.25s 0.25s, -webkit-clip-path 0.5s;
  padding: 2rem;
  -webkit-backdrop-filter: blur(8px) brightness(0.8) saturate(0.5);
          backdrop-filter: blur(8px) brightness(0.8) saturate(0.5);
}

.text-container h2,
.text-container p {
  color: white;
  margin: 0 0 1rem 0;
}

.text-container p {
  padding-left: 0.5rem;
}

.text-container a,
.text-container button {
  position: relative;
  text-decoration: none;
  margin: 0.5rem 0;
  padding: 0 0.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 2rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 5px 0px 15px 3px;
          box-shadow: rgba(0, 0, 0, 0.3) 5px 0px 15px 3px;
}

.text-container button {
  height: calc(2.5rem + 4px);
  padding: 0 1rem;
  margin-left: 0.5rem;
}

.text-container a {
  height: 2.5rem;
  margin-right: 0.5rem;
}

.text-container .link {
  background: rgba(0, 0, 0, 0.3);
  border: 2px solid var(--hospital-blue);
  color: var(--hospital-blue);
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}

.text-container .link:hover {
  background: #0e244ba1;
}

.text-container .play {
  background: var(--hospital-blue);
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
  color: black;
}

.text-container .play:hover {
  background: #4a8cff;
}

.fa-play {
  margin-left: 0.5rem;
}

.fa-github {
  margin-left: 0.5rem;
  color: var(--hospital-blue);
  font-size: 1.5rem;
}
/*# sourceMappingURL=projects.component.css.map */