<section id="contact" class="column center-vertical">
    <h1 class="bottom">Contact</h1>
    <ul class="space-between">
        <li class="contact-item center space-between">
            <i class="fas fa-envelope row center"> <h3>Email:</h3> </i>
            <a href="https://gmail.com">johann12venter@gmail.com</a>
        </li>
        <li class="contact-item center space-between">
            <i class="fas fa-phone-alt row center"> <h3>Mobile:</h3> </i>
            <a href="#">+27 64 905 6201</a>
        </li>
        <li class="contact-item center space-between">
            <i class="fab fa-github row center"> <h3>Github:</h3> </i>
            <a href="https://github.com/ByteSizedPi">https://github.com/ByteSizedPi</a>
        </li>
        <li class="contact-item center space-between">
            <i class="fab fa-linkedin row center"><h3>LinkedIn:</h3></i>
            <a href="https://www.linkedin.com/in/johanventer0/">https://www.linkedin.com/in/johanventer0/</a>

        </li>
        <li class="contact-item center space-between">
            <i class="fab fa-instagram center space-between"><h3>Instagram:</h3></i>
            <a href="https://www.instagram.com/johanventer1/">https://www.instagram.com/johanventer1/</a>
        </li>
    </ul>
</section>
