<section id="skills">
  <div class="row skills-text">
    <h2>SkillsSkillsSkillsSkillsSkillsSkillsSkillsSkillsSkills</h2>
  </div>
  <div class="scroll-container">
    <div id="skills-container" class="row">
      <span
        class="skill-container center-vertical"
        *ngFor="let skill of skills"
      >
        <div class="skill center column" [ngClass]="skill.name">
          <img
            [src]="'./assets/svg/' + skill.link"
            alt=" "
            (load)="onLoad($event)"
          />
          <h3>{{ skill.name }}</h3>
          <div class="card-bg" [id]="skill.name"></div>
        </div>
      </span>
    </div>
  </div>

  <div class="row skills-text-rotated">
    <h2>SkillsSkillsSkillsSkillsSkillsSkillsSkillsSkillsSkills</h2>
  </div>
</section>
