<section class="center" [scrollListener]="LINK.ABOUT" [id]="LINK.ABOUT">
  <img
    src="./assets/images/computer_animation.gif"
    alt="computer_animation"
    id="computer-animation"
  />
  <span class="text fadein" id="about-content">
    <h2>
      <span class="tag-open">
        <i class="fa-solid fa-chevron-left"></i>h1<i
          class="fa fa-chevron-right"
        ></i>
      </span>
      About me👨&zwj;💻
      <span class="tag-close">
        <i class="fa-solid fa-chevron-left"></i>/h1<i
          class="fa fa-chevron-right"
        ></i>
      </span>
    </h2>

    <div class="tag-open">
      <i class="fa-solid fa-chevron-left"></i>info<i
        class="fa fa-chevron-right"
      ></i>
    </div>

    <p>
      I am <b>Johan Venter</b>, an aspiring developer with a Bachelor’s degree
      in <b>Computer Science and Mathematics</b>. I am currently studying toward
      a BSc. Honours degree (Computer Science and Information Systems) from the
      North West University, and plan to register for my
      <b>Masters's degree</b> in 2023. I am a lecturing assistant at the
      Computer Science department and tutor Mathematics and Natural Sciences at
      the SETH academy at High School Ferdinand Postma. As a keen
      <b>squash player</b>, I represent the NWU and my province at IPT’s as a
      member of the SACD team. Formal instruction in music and exploring
      photography have trained me in <b>visual design and user experience</b>.
      My primary interest is Full Stack Development.
    </p>
    <div class="tag-close">
      <i class="fa-solid fa-chevron-left"></i>/info<i
        class="fa fa-chevron-right"
      ></i>
    </div>
    <div class="row">
      <a class="btn-liquid center" (click)="contact()">
        <span class="inner center"> contact me </span>
      </a>
      <!-- <button *ngIf="media.isMobile" id="contact">
        <a (click)="contact()" target="_blank">contact me</a>
      </button> -->
      <button>
        <a
          href="https://docs.google.com/document/d/10VW0vK2XUaqtabzpmFwGVRlcDDHXWMAd/edit?usp=sharing&ouid=103536070252261943960&rtpof=true&sd=true"
          target="_blank"
          >my cv</a
        >
      </button>
    </div>
  </span>
</section>
