section {
  padding: 0 3rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 6rem;
  overflow: hidden;
  height: 100vh;
  background-color: var(--deep-blue);
  // border: 2px solid red;
  margin-top: 10rem;

  &::before {
    content: "";
    position: absolute;
    // border: 2px solid red;
    top: calc(-10rem + 2px);
    left: 0;
    width: 100%;
    height: 10rem;
    // background-color: var(--deep-blue);
    // background-color: black;
    background: var(--deep-blue);
    background: linear-gradient(0deg, #191932 0%, #19193200 100%);
  }
}

.tag-open {
  font-size: 1rem;
  color: var(--lilac);
  font-weight: 600;
  margin-top: 2rem;
}

.tag-close {
  font-size: 1rem;
  color: var(--lilac);
  font-weight: 600;
  margin-bottom: 3rem;
}

.text {
  position: relative;
  justify-self: center;
  h2 {
    width: fit-content;
    color: var(--green);
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
    justify-self: center;
  }
  p {
    margin: 0 5rem 0 1rem;
    color: rgb(224, 224, 224);
    font-weight: 200;
    box-sizing: border-box;
  }

  b {
    color: hsl(156, 100%, 60%);
  }
}

img {
  position: relative;
  width: 100%;
  place-self: center;
  object-fit: cover;
}

.btn-liquid {
  display: inline-block;
  position: relative;
  width: 160px;
  height: 52px;
  color: var(--deep-blue);
  font: 700 1.2rem/60px "Poppins", sans-serif;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 26px;
  transition: transform 0.05s;

  &:active {
    transform: scale(0.92);
  }
}

.btn-liquid .inner {
  position: relative;
  // position: absolute;
  z-index: 2;
  height: 100%;
}

button {
  position: relative;
  z-index: 2;
  width: 160px;
  height: 50px;
  margin-left: 2rem;
  border: none;
  a {
    color: var(--green);
  }
  background: transparent;
  outline: 2px solid var(--green);
  border-radius: 26px;
  font: 700 1.2rem "Poppins", sans-serif;
  cursor: pointer;
  transition: background-color 0.1s, outline 0.1s, transform 0.05s;

  &:hover {
    background-color: #15694763;
    outline: 4px solid var(--green);
  }

  &:active {
    transform: scale(0.95);
  }
}

@media (max-width: 768px) {
  img {
    display: none;
  }

  section {
    grid-template-columns: 1fr;
    padding: 1.5rem;
  }

  .row {
    justify-content: space-between;
  }

  .tag-open,
  .tag-close {
    font-size: 0.75rem;
  }

  .text {
    h2 {
      font-size: 1.75rem;
    }
    p {
      margin: 0 1rem 0 1rem;
      font-size: 0.8rem;
    }
  }

  .row {
    padding: 0 0.5rem;
  }

  // button {
  //   width: 6rem;
  //   height: 50px;
  //   margin: 0;
  //   border-radius: 26px;
  //   a {
  //     font-size: 0.8rem;
  //   }

  //   &:hover {
  //     background-color: #15694763;
  //     outline: 2px solid var(--green);
  //   }
  // }

  // #contact {
  //   background-color: var(--green);
  //   a {
  //     color: var(--deep-blue);
  //   }
  // }
}
