:root {
  --hospital-blue: #327dff;
  --deep-blue: #191932;
  --green: #11be79;
  --sky-blue: #88e1f1;
  --lilac: #9d00ff;
  --yellow: #f2d45c;
  --royal: #073aa8;
  --centroid: circle(0% at 0% 0%);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

// * {
//   user-select: none;
// }

body,
html {
  margin: 0;
  padding: 0;
}

img,
.fadein {
  opacity: 0;
  transition: opacity 0.5s;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--deep-blue);
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-vertical {
  display: flex;
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.btn-liquid canvas {
  color: black;
  background: transparent;
  position: absolute;
  top: -50px;
  left: -50px;
  z-index: 1;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

::-webkit-scrollbar {
  width: 1rem;
  width: 0;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: hsl(240, 15%, 30%);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(240, 15%, 40%);
}

.no-scroll {
  &::-webkit-scrollbar {
    width: 0px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 0.5rem;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
