<section id="home">
    <div id="bg">
        <img src="./assets/Graphics/IMG_0135-1.jpg" alt="">
    </div>
    <div id="text" class="center column">
        <div class="text-container center">
            <h1 id="name" class="row">
                <div data-text="J">J</div>
                <div data-text="o">o</div>
                <div data-text="h">h</div>
                <div data-text="a">a</div>
                <div data-text="n">n</div>
            </h1>
            <h1 id="surname">Venter</h1>
        </div>
        <div class="text-container center">
            <h2 id="developer" data-text="Developer">Developer</h2>
            <h2 id="profile">profile</h2>
        </div>

        <hr id="divider">
        <app-media-links></app-media-links>
        <div id="scroll">
            <hr>
        </div>
    </div>
</section>
