#bg {
  position: fixed;
  width: 100vw;
  height: calc(100vh + 3rem);
  top: 0;
  left: 0;
}

#bg::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: #20265a79;
}

#bg img {
  width: 100vw;
  height: calc(100vh + 3rem);
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-filter: grayscale(0.5) sepia(0.6);
          filter: grayscale(0.5) sepia(0.6);
}

#text {
  width: 100vw;
  height: calc(100vh - 3rem);
  position: relative;
  margin-top: 3rem;
}

#text #portrait {
  height: 20vh;
  border-radius: 50%;
  border: 0.25rem solid var(--yellow);
  margin-bottom: 4vh;
}

#text #name {
  pointer-events: none;
  font-weight: 600;
  font-size: 15vh;
  line-height: 15vh;
  margin-right: 4vh;
}

#text #name div {
  opacity: 0;
  color: transparent;
  -webkit-transform: scale(0);
          transform: scale(0);
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}

#text #name div:nth-of-type(1) {
  -webkit-animation: bob-in-color 0.5s 100ms forwards cubic-bezier(0.47, 1.64, 0.41, 0.8);
          animation: bob-in-color 0.5s 100ms forwards cubic-bezier(0.47, 1.64, 0.41, 0.8);
}

#text #name div:nth-of-type(2) {
  -webkit-animation: bob-in-color 0.5s 200ms forwards cubic-bezier(0.47, 1.64, 0.41, 0.8);
          animation: bob-in-color 0.5s 200ms forwards cubic-bezier(0.47, 1.64, 0.41, 0.8);
}

#text #name div:nth-of-type(3) {
  -webkit-animation: bob-in-color 0.5s 300ms forwards cubic-bezier(0.47, 1.64, 0.41, 0.8);
          animation: bob-in-color 0.5s 300ms forwards cubic-bezier(0.47, 1.64, 0.41, 0.8);
}

#text #name div:nth-of-type(4) {
  -webkit-animation: bob-in-color 0.5s 400ms forwards cubic-bezier(0.47, 1.64, 0.41, 0.8);
          animation: bob-in-color 0.5s 400ms forwards cubic-bezier(0.47, 1.64, 0.41, 0.8);
}

#text #name div:nth-of-type(5) {
  -webkit-animation: bob-in-color 0.5s 500ms forwards cubic-bezier(0.47, 1.64, 0.41, 0.8);
          animation: bob-in-color 0.5s 500ms forwards cubic-bezier(0.47, 1.64, 0.41, 0.8);
}

#text #surname {
  pointer-events: none;
  font-weight: 400;
  font-size: 15vh;
  line-height: 15vh;
}

#text #surname div {
  opacity: 0;
  color: transparent;
  -webkit-transform: scale(0);
          transform: scale(0);
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}

#text #surname div:nth-of-type(1) {
  -webkit-animation: bob-in-color 0.5s 600ms forwards cubic-bezier(0.47, 1.64, 0.41, 0.8);
          animation: bob-in-color 0.5s 600ms forwards cubic-bezier(0.47, 1.64, 0.41, 0.8);
}

#text #surname div:nth-of-type(2) {
  -webkit-animation: bob-in-color 0.5s 700ms forwards cubic-bezier(0.47, 1.64, 0.41, 0.8);
          animation: bob-in-color 0.5s 700ms forwards cubic-bezier(0.47, 1.64, 0.41, 0.8);
}

#text #surname div:nth-of-type(3) {
  -webkit-animation: bob-in-color 0.5s 800ms forwards cubic-bezier(0.47, 1.64, 0.41, 0.8);
          animation: bob-in-color 0.5s 800ms forwards cubic-bezier(0.47, 1.64, 0.41, 0.8);
}

#text #surname div:nth-of-type(4) {
  -webkit-animation: bob-in-color 0.5s 900ms forwards cubic-bezier(0.47, 1.64, 0.41, 0.8);
          animation: bob-in-color 0.5s 900ms forwards cubic-bezier(0.47, 1.64, 0.41, 0.8);
}

#text #surname div:nth-of-type(5) {
  -webkit-animation: bob-in-color 0.5s 1000ms forwards cubic-bezier(0.47, 1.64, 0.41, 0.8);
          animation: bob-in-color 0.5s 1000ms forwards cubic-bezier(0.47, 1.64, 0.41, 0.8);
}

#text #surname div:nth-of-type(6) {
  -webkit-animation: bob-in-color 0.5s 1100ms forwards cubic-bezier(0.47, 1.64, 0.41, 0.8);
          animation: bob-in-color 0.5s 1100ms forwards cubic-bezier(0.47, 1.64, 0.41, 0.8);
}

#text #developer {
  position: relative;
  font-weight: 500;
  margin: 0;
  padding: 0.5rem;
  text-shadow: 0px 0px 10px black;
  color: white;
  -webkit-animation: drop-flip 0.5s 1s forwards;
          animation: drop-flip 0.5s 1s forwards;
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
          clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  font-size: 8vh;
  line-height: 8vh;
  margin-right: 2vh;
}

#text #developer::after {
  -webkit-text-stroke: 2px transparent;
  pointer-events: none;
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  padding: 0.5rem;
  background-image: url(https://media.giphy.com/media/xThuW2fbatiCsyY3zW/giphy.gif);
  -webkit-filter: brightness(1.5) saturate(1.5);
          filter: brightness(1.5) saturate(1.5);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-clip-path: var(--centroid);
          clip-path: var(--centroid);
}

#text #profile {
  pointer-events: none;
  font-weight: 200;
  font-size: 7vh;
  margin: 0;
  padding: 0;
  text-shadow: 0px 0px 12px black;
  color: white;
  -webkit-animation: slide-right 0.4s 1.4s forwards;
          animation: slide-right 0.4s 1.4s forwards;
  -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
          clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

app-media-links {
  margin-top: 5vh;
}

#scroll {
  margin-top: 10vh;
  border: 0.5vh solid #adadad;
  background: rgba(0, 0, 40, 0.3);
  width: 4vh;
  height: 6.5vh;
  border-radius: 3vh;
  opacity: 0;
  -webkit-animation: fade-in 1s 2s forwards;
          animation: fade-in 1s 2s forwards;
}

#scroll hr {
  margin-top: 1.5vh;
  border: none;
  width: 0.75vh;
  height: 2vh;
  border-radius: 2px;
  background-color: #adadad;
  -webkit-animation: slide 1.25s ease-out forwards infinite;
          animation: slide 1.25s ease-out forwards infinite;
}

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    height: 0px;
    opacity: 0;
  }
  20% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    height: 2.5vh;
    opacity: 1;
  }
  80% {
    -webkit-transform: translateY(2.5vh);
            transform: translateY(2.5vh);
    height: 0px;
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(2.5vh);
            transform: translateY(2.5vh);
    height: 0px;
    opacity: 0;
  }
}

@keyframes slide {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    height: 0px;
    opacity: 0;
  }
  20% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    height: 2.5vh;
    opacity: 1;
  }
  80% {
    -webkit-transform: translateY(2.5vh);
            transform: translateY(2.5vh);
    height: 0px;
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(2.5vh);
            transform: translateY(2.5vh);
    height: 0px;
    opacity: 0;
  }
}

@-webkit-keyframes expand {
  from {
    width: 0;
    opacity: 0;
  }
  to {
    width: 10rem;
    opacity: 1;
  }
}

@keyframes expand {
  from {
    width: 0;
    opacity: 0;
  }
  to {
    width: 10rem;
    opacity: 1;
  }
}

@-webkit-keyframes bob-in-color {
  to {
    color: var(--yellow);
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes bob-in-color {
  to {
    color: var(--yellow);
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes slide-right {
  from {
    -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
            clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

@keyframes slide-right {
  from {
    -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
            clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

@-webkit-keyframes drop-flip {
  from {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
            clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  }
  to {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

@keyframes drop-flip {
  from {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
            clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  }
  to {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}
/*# sourceMappingURL=home.component.css.map */